################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Standalone/FileContentIndex/931fb186-4131-439e-9539-e21d4d0cbd8e.vsidx
